.text-glow {
    text-shadow: 
      0px 0px 0.16px #ffffffd4,   
      0px 0px 0.32px #ffffffd4,   
      0px 0px 1.12px #ffffffd4,  
      0px 0px 100.24px #ffffff, 
      0px 0px 120.84px #ffffffd4,  
      0px 0px 140.72px #ffffffd4;
  }
  
  .text-glow-date{
      text-shadow: 
      0px 0px 0.16px #ffffffd4,   
      0px 0px 0.32px #ffffffd4,   
      0px 0px 1.12px #ffffffd4,  
      0px 0px 10.24px #ffffff, 
      0px 0px 12.84px #ffffffd4,  
      0px 0px 14.72px #ffffffd4;
  }
  
  .custom-hover-fill:hover path {
    fill: var(--Primary, rgba(99, 86, 254, 1));
  }
  